 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 247px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 30px 708px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 40px 0;
}

.u-section-1 .u-icon-1 {
  margin-top: 4px;
}

.u-section-1 .u-icon-2 {
  margin-left: 0;
  margin-right: 0;
  vertical-align: 0px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-map-1 {
  width: 1100px;
  height: 460px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-map-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-map-1 {
    width: 340px;
  }
}